{{yield}}

<div>
    <h3>Time and Date at location: {{dateData}}</h3>
    <h3>Time and Date at Paris, France: {{CETData}}</h3>
    <h4>Refresh Count: {{this.refreshCount}}</h4>
    <button onclick={{this.refreshTime}}>Refresh</button>
</div>